NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_WHATSAPP_E164=233000000000
NEXT_PUBLIC_BRAND_PHONE=+233 00 000 0000
NEXT_PUBLIC_GOOGLE_MAPS_EMBED_URL=https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.5!2d-0.187!3d5.6037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNcKwMzYnMTMuMiJOIDDCsDExJzEzLjIiVw!5e0!3m2!1sen!2sgh!4v1
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_META_PIXEL_ID=
