/* stylelint-disable-next-line */
@tailwind base;
/* stylelint-disable-next-line */
@tailwind components;
/* stylelint-disable-next-line */
@tailwind utilities;
/* stylelint-disable-next-line */

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-kasa-cream text-kasa-black antialiased;
    background-image: theme('backgroundImage.grain-light');
  }

  .dark body {
    @apply bg-kasa-black text-kasa-cream;
    background-image: theme('backgroundImage.grain-dark');
  }
}

::selection {
  background-color: rgba(234, 179, 8, 0.3);
  color: #000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
